body {
  background: #0f0f0f;
  color: white;
  font-family: system-ui, sans-serif;
}

/* HAMBURGER (decoración) */
.hamburger{
  background:none;
  border:none;
  color:#fff;
  font-size:22px;
  cursor:pointer;
}

/* ===================== */
/* LAYOUT */
/* ===================== */
.layout{
  display:flex;
}
.sidebar {
  width: 72px;
  background: #0f0f0f;
}

/* Área central */
.short-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta short */
.short-card {
  position: relative;
  height: 90vh;
  aspect-ratio: 9 / 16;
  background: #1f1f1f;
  border-radius: 14px;
  overflow: hidden;
}

/* Fondo gris + centrado */
.video-bg {
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Barra derecha */
.right-bar {
  position: absolute;
  right: 10px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.icon {
  text-align: center;
  font-size: 20px;
}

.icon span {
  display: block;
  font-size: 12px;
  opacity: .8;
}

/* Info */
.info {
  position: absolute;
  bottom: 16px;
  left: 12px;
  right: 70px;
}
/* ===================== */
/* TOP BAR */
/* ===================== */
.top-bar{
  display:flex;
  align-items:center;
  gap:20px;
  padding:12px 20px;
  background:#181818;
  position:sticky;
  top:0;
  z-index:1000;
}

.top-bar h1{
  font-size:18px;
  margin:0;
}

.top-bar input{
  flex:1;
  padding:8px 14px;
  border-radius:20px;
  border:none;
  outline:none;
}

/* ===================== */
/* SIDEBAR */
/* ===================== */
.sidebar{
  width:90px;
  background:#181818;
  padding-top:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:18px;
  position:sticky;
  top:56px;
  height:calc(100vh - 56px);
  border-right:1px solid #2a2a2a;
}

.side-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:6px;
  font-size:11px;
  color:#fff;
  text-decoration:none;
  opacity:.85;
  cursor:pointer;
}

.side-item img{
  width:26px;
  height:26px;
}

.side-item:hover{
  opacity:1;
}